/**
  @author zhuliang
  @date 2018/10/8 下午11:57
*/
@import '../../../styles/globalscss.scss';

.house-header {
  position: relative;
  z-index: 100;
  height: vm(44);
  display: flex;
  color: white;
  background: linear-gradient(to right, #179FE1, #008BCD);
  align-items: center;
  padding: 0 vm(10);
  .house-location {
    span {
      margin-left: vm(3);
    }
  }
  h1 {
    flex: 1;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-right: vm(25);
  }
}
