/**
  @author zhuliang
  @date 2018/11/12 2:54 PM
*/
@import "../../styles/globalscss.scss";
.return-house {
  position: fixed;
  top: vm(5);
  left: vm(5);
  z-index: 99;
  font-size: 12px;
  background: #ECECEC;
  border-radius: 2px;
  padding: 3px;
}
