/**
  @author zhuliang
  @date 2018/10/16 上午10:42
*/
@import '../../../styles/globalscss';

#search-content {
  position: relative;
  &.border-class:after {
    content: ' ';
    width: 92%;
    margin-left: 4%;
    height: vm(1);
    background: #EAEAEA;
    position: absolute;
    margin: 0 vm(15) ;
    z-index: -1;
  }
  .search-top-img-content {
    background: url("../../../../static/searchBG.png");
    height: vm(90);
    position: relative;
    .search-input-content {
      position: absolute;
      bottom: vm(-16);
      border: vm(1) solid #E6E6E6;
      padding: vm(10) vm(10);
      background: white;
      width: vm(345);
      height: vm(32);
      margin-left: vm($padding-width);
      display: flex;
      align-items: center;
      .area {
        position: relative;
        display: flex;
        width: vm(150);
        font-family: PingFangSC;
        font-size: 14px;
        align-items: center;
      }
      .area:after {
        content: ' ';
        height: 100%;
        width: vm(1);
        background: #979797;
        opacity: .2;
        position: absolute;
        right: 0;
      }
      .search-icon {
        width: vm(60);
      }
    }
  }

  .search-info-content {
    margin-top: vm(30);
    padding: 0 vm(10) vm(15);
    border-bottom: vm(1) solid rgba(126, 125, 125, .27);
    .search-info-list {
      display: flex;
      li {
        text-align: center;
        flex: 1;
        color: #333333;
        font-size: 16px;
      }
    }
  }
  .mu-tsransition-box {
    background: white;
    color: #333333;
  }
  .seach-isselect-condition {
    display: flex;
    padding: vm(8) vm($padding-width) vm(8);
    overflow: auto;
    li {
      .mu-chip.demo-chip {
        border-radius: 0;
        background: #EAEAEA;
        height: vm(23);
        font-size: 12px;
        .mu-chip-delete-icon {
          height: vm(20);
          width: vm(20);
        }
      }
    }

    li:not(:last-child) {
      margin-right: vm(10);
    }
  }
}

