@import '../../styles/globalscss';

#index-content {
  position: relative;
  overflow: hidden;
  .wrapper {
    height: calc(100vh);
    .button-nav {
      margin-top: 17px;
      margin-left: vm(15);
    }
    .default-margin {
      margin-top: 17px;
      margin-left: vm(15);
      margin-right: vm(15);
    }
  }
  .introduce-content {
    padding: vm(10) vm($padding-width) vm(20);
  }
  .guess-like h1 {
    font-size: 18px;
  }
}

