@import '../../styles/globalscss';

#index-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .house-content {
    flex: 1;
    position: relative;
    overflow: hidden;
    .wrapper {
      height: calc(100vh - 13.06667vmin);
      .button-nav {
        margin-top: 17px;
        margin-left: vm(15);
      }
      .default-margin {
        margin-top: 17px;
        margin-left: vm(15);
        margin-right: vm(15);
      }
    }
    .introduce-content {
      padding: vm(10) vm($padding-width) vm(20);
    }
    .guess-like h1 {
      font-size: 18px;
    }
  }

}

.red-packet-content {
  .iphoneipnut {
    width: 100%;
    border: #dedede 1px solid;
    height: 31px;
    line-height: 31px;
    text-indent: 8px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #ccc inset;
    outline: none!important;
  }
}


