@import '../../styles/globalscss';

#index-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .house-content {
    flex: 1;
    position: relative;
    overflow: hidden;
    .wrapper {
      height: calc(100vh - 13.06667vmin);
      .button-nav {
        margin-top: 17px;
        margin-left: vm(15);
      }
      .default-margin {
        margin-top: 17px;
        margin-left: vm(15);
        margin-right: vm(15);
      }
    }
    .introduce-content {
      padding: vm(10) vm($padding-width) vm(20);
    }
    .guess-like h1 {
      font-size: 18px;
    }
  }

}

.red-packet-content {
  .mu-dialog.mu-scale {
    background: url("../../assets/redpacket.png");
    background-size: cover;
    padding: vm(15) 0;
  }
  .mu-dialog-title {
    text-align: center;
    padding: 0px 0px 0px 0px;
    font-size: 14px;
    line-height: 21px;
    height: 21px;
    color: #fff;
    display: block;
  }
  .money-info, .call-info {
    color: white;
    text-align: center;
  }
  .money-info {
    margin: vm(10) 0 vm(20);
  }
  .call-info {
    font-size: 13px;
    color: #ffc5cd;
    margin: vm(40) 0 vm(20);
  }
  .iphoneipnut {
    width: 100%;
    border: #dedede 1px solid;
    height: 31px;
    line-height: 31px;
    text-indent: 8px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #ccc inset;
    font-size: 13px;
    outline: none!important;
  }
}


