<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
  <!--<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />-->
  <!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
  <!--<title>Hello, World</title>-->
  <!--<style type="text/css">-->
    <!--html{height:100%}-->
    <!--body{height:100%;margin:0px;padding:0px}-->
    <!--#container{height:100%}-->
  <!--</style>-->
  <!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=46yjCCVOEDlQuhme32vkfT2ttMy83pTk">-->
    <!--//v2.0版本的引用方式：src="http://api.map.baidu.com/api?v=2.0&ak=您的密钥"-->
  <!--</script>-->
<!--</head>-->

<!--<body>-->
<!--<div id="container"></div>-->
<!--<script type="text/javascript">-->
  <!--var map = new BMap.Map("container");-->
  <!--// 创建地图实例-->
  <!--var point = new BMap.Point(116.404, 39.915);-->
  <!--// 创建点坐标-->
  <!--map.centerAndZoom(point, 15);-->
  <!--// 初始化地图，设置中心点坐标和地图级别-->

  <!--var circle = new BMap.Circle(point,1000,{fillColor:"blue", strokeWeight: 1 ,fillOpacity: 0.3, strokeOpacity: 0.3});-->
  <!--map.addOverlay(circle);-->
  <!--var local =  new BMap.LocalSearch(map, {renderOptions: {map: map, autoViewport: false}});-->
  <!--local.searchNearby(['餐馆', '超市'],point,1000);-->

<!--</script>-->
<!--</body>-->
<!--</html>-->


<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
    #allmap {width: 100%;height: 500px;overflow: hidden;margin-top:10px;font-family:"微软雅黑";}
    #controller{width: 800px;height: 120px;overflow: hidden;margin-top:10px;}
  </style>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=46yjCCVOEDlQuhme32vkfT2ttMy83pTk"></script> //Configure your key here
  <title>百度地图综合demo</title>
</head>
<body>
<div id="controller"><table border='1'>

  <tr><th>功能</th><th>数据</th><th>事件</th></tr>
  <tr><td>我的位置</td><td></td><td><button onclick="myPosition()">我的位置</button></td></tr>
  <tr>
    <td>查找周边店铺</td><td><input type="text" placeholder="请输入你要查询的周边内容" id="selectInfo"/></td><td><button onclick="search()">查询</button></td>
  </tr>
  <tr><td>点位追踪</td><td><input type="text" placeholder="请输入经度" id="lng"/>  <input type="text" placeholder="请输入纬度" id="lat"/> </td><td><button onclick="searchPosition()">查询</button></td></tr>
</table></div>
<div id="allmap"></div>
</body>
</html>
<script type="text/javascript">


  var myGeo = new BMap.Geocoder();
  // 将地址解析结果显示在地图上，并调整地图视野
  myGeo.getPoint('南京市鼓楼区', function(point){
    console.log(point)
    if (point) {
//经度
      var pointx = point.lng;
      //纬度
      var pointy = point.lat;
    }
  }, '南京');


</script>
