@import '../../styles/globalscss';

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(133, 133, 133, .5);
    display: table;
    transition: opacity .3s ease;
  }
  
  .modal-wrapper {
    display: table-cell;
    vertical-align: bottom;
  }
  
  .modal-container {
    width: 100%;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }
  
  .modal-body {
    margin: vm(20) 0;
    input {
        border: 1px solid rgba(133, 133, 133, .5);
        width: 100%;
        height: vm(30);
        border-radius: vm(4);
    }
  }
  .modal-footer {
      height: vm(40);
      .mu-button {
        margin-top: vm(10);
        width: 45%;
        height: vm(30);
        float: left;
      }
      .mu-button:first-child {
          color: #858585;
          margin-right: 5%;
          border: 1px solid rgba(133, 133, 133, .2);
      }
  }
  
  
  /*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */
  
  .modal-enter {
    opacity: 0;
  }
  
  .modal-leave-active {
    opacity: 0;
  }