/**
  @author zhuliang
  @date 2018/10/8 下午11:58
*/
@import '../../styles/globalscss';
.guess-like {
  h1 {
    margin: vm(15) 0 vm(5) 0;
    font-weight: 900;
  }
  .content {
    .like-content {
      margin-top: vm(10);
      box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.27);
      img {
        width: 100%;
      }
      .text-content {
        padding: vm(10) vm(10);
        .name-price {
          display: flex;
          margin-bottom: vm(10);
          span {
            display: inline-block;
          }
          .temp-span {
            flex: 1;
          }
          .name {
            font-size: 16px;
            color: #000000;
            font-weight: 900;
          }
          .price {
            font-weight: 900;
            color: #FF0000;
            font-size: 13px;
          }
        }
        .region, .house-type {
          margin-top: vm(7);
          display: block;
          color: #979797;
          font-size: 11px;
        }
      }
      .nav-li {
        display: inline-block;
        height: (17);
        border: vm(1) solid rgba(185, 222, 248, 0.2964);
        border-radius: vm(1);
        text-align: center;
        padding: 0 vm(5) vm(1) vm(5);
        .nav-name {
          font-size: vm(12);
          line-height: vm(17);
          color: #0284DC;
          opacity: 0.5521;
        }
      }
      .nav-li:not(:first-child) {
        margin-left: vm(5);
      }
    }
  }
}
